<?php if ( $errorMessages ): ?>
    <?php foreach ( $errorMessages as $error ): ?>
        <?= $error->getMessage(); ?>
    <?php endforeach ?>
<?php endif ?>
<form action="" method="post">
    <div class="col-md-8">
        <?= $form->renderFields() ?>

        <div class="">
            <button class="btn btn-success" type="submit" name="submit" value="save"><?= $t->_('common', 'save') ?></button>
            <button class="btn btn-default" type="submit" name="submit" value="apply"><?= $t->_('common', 'apply') ?></button>
        </div>

    </div>
</form>