<?php
/**
 * @var array    $columns
 * @var bool     $canAdd
 * @var bool     $canEdit
 * @var bool     $canDelete
 * @var stdClass $page
 * @var string   $controllerName
 * @var \Justashop\Components\Messages\Translator $t
 */
$controllerUrlName = \Justashop\Helpers\Text::controllerAlias( $controllerName );
$currentUrl = $this->url->get(['for' => 'backend.indexPage', 'controller' => $controllerUrlName])

?>
<div class="clearfix" style="margin-bottom: 15px">
    <div class="pull-left">
        <p> страница <?= $page->current ?> из <?= $page->total_pages ?></p>
    </div>
    <?php if( $canAdd ): ?>
        <div class="pull-right">
            <a class="btn btn-default"
               href="<?= $this->url->get(['for' => 'backend.addPage', 'controller' => $controllerUrlName]) ?>"> <?= $t->_('common', 'add') ?></a>
        </div>
    <?php endif ?>
</div>

<table class="table table-bordered table-striped">

    <thead>
        <tr>
            <?php foreach( $columns as $key => $column ): ?>
               <th><?= $t->_( join( '.', ['controlPanel', $controllerName, 'fields'] ), Justashop\Helpers\EditorHelper::getColumnTitle( $column, $key ) ); ?></th>
            <?php endforeach ?>
            <th style="width:20%"> <?= $t->_('common', 'actions') ?></th>
        </tr>
    </thead>

    <tbody>
    <?php foreach( $page->items as $item ): ?>
        <tr>
            <?php foreach( $columns as $key => $column ): ?>
                <td><?= $item->{$key} ?></td>
            <?php endforeach ?>
            <td  width="20%">
                <?php if( $canEdit ): ?>
                    <a href="<?= $this->url->get(['for' => 'backend.editPage', 'controller' => $controllerUrlName, 'id' => $item->id]) ?>">
                        <i class="glyphicon glyphicon-pencil"></i> <?= $t->_('common', 'edit') ?>
                    </a>
                <?php endif ?>
                <?php if( $canDelete ): ?>
                    <a href="<?= $this->url->get(['for' => 'backend.deletePage', 'controller' => $controllerUrlName, 'id' => $item->id]) ?>">
                        <i class="glyphicon glyphicon-remove"></i> <?= $t->_('common', 'delete') ?>
                    </a>
                <?php endif ?>
            </td>
        </tr>
    <?php endforeach ?>
    </tbody>
</table>

<div class="center-block" style="width:250px">
<?php if( $page->total_pages > 1 ): ?>
    <ul class="pagination">
        <?php if( $page->before > $page->first  ) : ?>
            <li><a href="<?= $currentUrl ?>?page=<?= $page->first ?>">&laquo;</a></li>
            <li><span>...</span></li>
        <?php endif ?>

        <?php if( $page->before && $page->before != $page->current  ) : ?>
            <li><a href="<?= $currentUrl ?>?page=<?= $page->before ?>"><?= $page->before ?></a></li>
        <?php endif ?>

        <li class="active"><span><?= $page->current ?></span></li>

        <?php if( $page->next && $page->next != $page->current  ) : ?>
            <li><a href="<?= $currentUrl ?>?page=<?= $page->next ?>"><?= $page->next ?></a></li>
        <?php endif ?>

        <?php if( $page->next < $page->last  ) : ?>
            <li><span>...</span></li>
            <li><a href="<?= $currentUrl ?>?page=<?= $page->last ?>">&raquo;</a></li>
        <?php endif ?>

    </ul>
<?php endif ?>
</div>