<div id="js-account-modal-auth" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Аутентификация</h4>
            </div>
            <div class="modal-body">
                <form id="js-account-modal-auth-form">
                    <div><p class="alert alert-danger hidden js-account-common-error"></p></div>
                    <div class="form-group">
                        <label for="login">Логин</label>
                        <input type="text" class="form-control" name="login" id="js-account-auth-login"/>
                    </div>
                    <div class="form-group">
                        <label for="password">Пароль</label>
                        <input type="password" class="form-control" name="password" id="js-account-auth-password"/>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-warning" id="js-account-log-in-btn">Войти</button>
                    </div>
                </form>
                <div>
                    <p>No account? <a id="js-account-show-register-btn">Register!</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="js-account-modal-register" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Регистрация</h4>
            </div>
            <div class="modal-body">
                <form id="js-account-modal-register-form" class="show">
                    <div><p class="alert alert-danger hidden js-account-common-error"></p></div>
                    <div class="form-group has-feedback">
                        <label for="login">Email</label>
                        <input type="text" class="form-control js-account-register-field" name="email" required="required" email="email" id="js-account-register-login"/>
                    </div>
                    <div class="form-group has-feedback">
                        <label for="password">Пароль</label>
                        <input type="password" class="form-control js-account-register-field" name="password" required="required" id="js-account-register-password"/>
                    </div>
                    <div class="form-group has-feedback">
                        <label for="password">Пароль повторно</label>
                        <input type="password" class="form-control js-account-register-field" name="passwordConfirm" required="required" id="js-account-register-password-confirm" data-validator-confirm="password"/>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-warning" id="js-account-register-btn">Зарегистрироваться</button>
                    </div>
                </form>
                <form id="js-account-modal-register-activation-form" class="hidden">
                    <div><p class="alert alert-danger hidden js-account-common-error"></p></div>
                    <div class="form-group has-feedback">
                        <label for="login">Code</label>
                        <input type="text" class="form-control js-account-activation-code-field" name="token" required="required" id="js-account-activation-code"/>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-warning" id="js-account-activate-btn">Подтвердить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="js-cart-modal-add" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Добавить в корзину: <span class="js-cart-modal-add-title"></span></h4>
            </div>
            <div class="modal-body">
                <div class="cart-modal-body clearfix">
                    <input type="hidden" class="js-cart-modal-add-product-id" />

                    <div class="cart-modal-body-thumbnail">
                        <img src="" class="img-circle js-cart-modal-add-thumbnail" />
                    </div>
                    <div class="cart-modal-body-title"><span class="js-cart-modal-add-title"></span></div>
                    <div class="cart-modal-body-count">
                        <div class="number-widget js-number-widget">
                            <span class="number-widget-inc js-number-widget-inc"><i class="glyphicon glyphicon-chevron-up"></i></span>
                            <input type="text" pattern="[\d]+" data-min="1" data-max="100" class="number-widget-input js-number-widget-input js-cart-modal-add-count" />
                            <span class="number-widget-dec js-number-widget-dec"><i class="glyphicon glyphicon-chevron-down"></i></span>
                        </div>
                    </div>
                    <div class="cart-modal-body-price js-cart-modal-add-price"></div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="js-cart-modal-new-btns" style="display:none">
                    <a href="#" class="btn btn-default js-cart-modal-add-btn">Добавить</a>
                </div>
                <div class="js-cart-modal-change-btns">
                    <a href="#" class="btn btn-default js-cart-modal-save-btn">Сохранить</a>
                </div>
            </div>
        </div>
    </div>
</div>