<? $url .= strpos($url, '?') !== false ? '&' : '?' ?>
<div class="center-block" style="width:300px; clear:both">
    <?php if( $page->total_pages > 1 ): ?>
        <ul class="light-pagination">
            <?php if( $page->before > $page->first  ) : ?>
                <li><a href="<?= $url ?>page=<?= $page->first ?>">&laquo;</a></li>
                <li><span>...</span></li>
            <?php endif ?>

            <?php if( $page->before && $page->before != $page->current  ) : ?>
                <li><a href="<?= $url ?>page=<?= $page->before ?>"><?= $page->before ?></a></li>
            <?php endif ?>

            <li class="active"><span><?= $page->current ?></span></li>

            <?php if( $page->next && $page->next != $page->current  ) : ?>
                <li><a href="<?= $url ?>page=<?= $page->next ?>"><?= $page->next ?></a></li>
            <?php endif ?>

            <?php if( $page->next < $page->last  ) : ?>
                <li><span>...</span></li>
                <li><a href="<?= $url ?>page=<?= $page->last ?>">&raquo;</a></li>
            <?php endif ?>

        </ul>
    <?php endif ?>
</div>