.cart-dropdown {
    padding: 5px 5px;
    width: 300px;
}

.cart-dropdown:before {
    position: absolute;
    top: -7px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}

.cart-dropdown:after {
    position: absolute;
    top: -6px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: '';
}

@media screen and (max-device-width: 768px){
    .cart-dropdown:before {
        right:auto;
        left: 9px;
    }
    .cart-dropdown:after {
        right: auto;
        left: 10px;
    }

}
@media screen and (min-device-width: 768px){
    .cart-dropdown:before {
        left:auto;
        right: 9px;
    }
    .cart-dropdown:after {
        left: auto;
        right: 10px;
    }

}

.cart-dropdown-table {
    margin: 0px 0px 5px;
}

.cart-dropdown-thumbnail {
    width: 50px;
    height: 50px;
    margin: 1px 3px 1px 1px;
    vertical-align: middle;
    border: 1px solid #DADADA;
    border-radius: 2px;
}
.cart-dropdown-table tr {
    border-bottom: 1px solid #EAEAEA;
}

.cart-dropdown-element-thumbnail {
    width:52px;
}


.cart-dropdown-element-quantity {
    width:30px;
    text-align: center;
}
.cart-dropdown-element-actions {
    width:30px;
    text-align: left;
}
.cart-dropdown-element-actions .close {
    float: none;
}


.cart-dropdown-footer {
    border-bottom: none;
    overflow: hidden;
    clear: both;
    margin-bottom: 0px;
}

.cart-dropdown-total {
    vertical-align: middle;
}


.btn-cart {
    vertical-align: middle;
    color:#FEFDFA;
    background-color: #d92c21;
    border-color: #D44F3A;
    text-shadow: 0px 1px 0px #931D19;
}

.btn-cart-round-left {
    border-radius: 30px 2px 2px 30px;
}

.btn-cart-round-all {
    border-radius: 30px;
}

.btn-cart:hover, .btn-cart:focus, .btn-cart:active, .btn-cart.active, .open .dropdown-toggle.btn-cart {
    color: #FFF;
    background-color: #f41705;
    border-color: #d22d29;
}





.cart-modal-body{
    display: table;
}

.cart-modal-body-thumbnail {
    display: table-cell;
    width: 110px;
}
.cart-modal-body-thumbnail > img {
    width: 108px;
    border: 3px solid #F0ECE9;
    box-shadow: 0px 0px 0px 1px rgba(192, 160, 160, 0.9)
}

.cart-modal-body-title {
    width: 280px;
}

.cart-modal-body-count, .cart-modal-body-price, .cart-modal-body-title {
    display: table-cell;
    vertical-align: middle;
    padding: 0px 10px;
}

@media screen and (max-device-width: 360px){
    .cart-modal-body-title {
        display: none;
    }

    .cart-modal-body-thumbnail{
        vertical-align: middle;
        width: 70px;
    }
    .cart-modal-body-thumbnail > img {
        width: 50px;
    }
}


.cart-table td {
    vertical-align: middle!important;
}

.cart-checkout-thumbnail {
    width: 100px;
}

.cart-checkout-thumbnail > img {
    width: 70px;
    border: 3px solid #F0ECE9;
    box-shadow: 0px 0px 0px 1px rgba(192, 160, 160, 0.9);
    border-radius: 50%;
}

.cart-checkout-count {
    width: 30px;
}

.cart-checkout-price {
    width: 170px;
}

.checkout-cart {
    background: #FEFDFA;
    border: 1px solid #F0F0F0;
    box-shadow: 0px 4px 4px rgba(160, 128, 128, 0.2);
    margin: 10px 0px;
    padding: 0px 10px;
}
.checkout-cart-title {
    margin: 10px 0px;
}

.checkout-cart-table {
    margin-top: 35px;
}

.checkout-cart-table td {
    vertical-align: middle!important;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
    border-top: none!important;
}

.checkout-cart-table td:first-child {
    border-left: none;
}
.checkout-cart-table td:last-child {
    border-right: none;
}

.checkout-cart-table tr {
    border-bottom: 1px solid #DDD;
}


.checkout-cart-table-thumbnail {
    width: 50px;
}
.checkout-cart-table-thumbnail > img {
    width: 50px;
    height: 50px;
}

.checkout-cart-table-count {
    width: 50px;
    text-align: center;
}
.checkout-cart-table-price {
    width: 100px;
    text-align: right;
}

@media screen and (max-device-width: 330px){
    .checkout-cart-table-thumbnail{
        display:none;
    }
}


.checkout-cart-table-total-sum {
    color: #AE0C08;
}

.checkout-cart-table-action {
    width: 30px;
    text-align: center;
}

