.categories-list {
}

.categories-list-item {
    display: block;
    margin: 10px 0px;

    font-family: "Oranienbaum", Verdana, serif;
    font-size: 18px;

    text-align: left;
    text-transform: uppercase;

    letter-spacing: 0.1em;

    color: #666;
}
.categories-list-item:first-child {
    margin-top: 0px;
}
.categories-list-item:last-child {
    margin-bottom: 0px;
}

.categories-list-item.active, .categories-list-item:hover {
    color: #AE0C08;
}

.categories-list-item.active {
    text-decoration: none;
}

.category-title {
    text-transform: uppercase;
}