.form-data {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 2px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.s-header {
    font-family: "Oranienbaum", Verdana, serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #666;
    font-size: 18px;
}


.number-widget {
    width: 50px;
    text-align: center;
    display:inline-block;
}

.number-widget-inc, .number-widget-dec, .number-widget-input {
    display: block;
}
.number-widget-inc, .number-widget-dec {
    cursor: pointer;
}
.number-widget-input {
    width: 50px;
    text-align: center;
}

.btn-well {
    border-radius: 2px;
    background: #F8F8F8;
    display: inline-block;
    overflow: hidden;
    border: 1px solid rgb(234, 234, 234);
    box-shadow: 0px 0px 1px 1px #FFF inset;
}


.btn-well > .btn {
    margin: 8px 10px 10px;
    border-width: 1px 1px 4px 1px;
    box-shadow: 0px 1px 1px #E1E1E1;
}
.btn-well > .btn:hover {
    margin: 10px 10px 10px;
    border-width: 1px 1px 2px 1px;
    box-shadow: none;
}
.btn-well > .btn:active {
    margin: 12px 10px 10px;
    border-width: 1px 1px 0px 1px;
    box-shadow: 0px 1px 1px #E1E1E1 inset;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.loading-bar-s {
    background: url("/img/loader/horizontal-s.gif") center center no-repeat;
}
.loading-bar-m {
    background: url("/img/loader/horizontal-m.gif") center center no-repeat;
}

.loading-container {
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
}


.flash-message-container{
    width:400px;
    position:absolute;
    top:50px;
    right:10px;
    z-index: 1050;
}

.image-uploader-image-list{
    margin: 10px 0;
}

.image-uploader-image-row{
    margin: 5px 5px 5px 0;
}


/** CART MODAL **/




.light-pagination {
    padding-left: 0;
    margin: 20px 0;
    border-radius: 2px;
}
.light-pagination > li {
    display: inline;
}
.light-pagination > li > a,
.light-pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #999;
    margin-left: 5px;
    border-radius: 50% 50%;
    border: 1px solid rgba(255, 255, 255, 0);
}
.light-pagination > li:first-child > a,
.light-pagination > li:first-child > span {
    margin-left: 0;
}

.light-pagination > li > a:hover,
.light-pagination > li > span:hover,
.light-pagination > li > a:focus,
.light-pagination > li > span:focus {
    color: #777;
    border: 1px solid #DADADA;
}
.light-pagination > .active > a,
.light-pagination > .active > span,
.light-pagination > .active > a:hover,
.light-pagination > .active > span:hover,
.light-pagination > .active > a:focus,
.light-pagination > .active > span:focus {
    z-index: 2;
    color: #AE0C08;
    border: 1px solid #DADADA;
}
.light-pagination > .disabled > span,
.light-pagination > .disabled > span:hover,
.light-pagination > .disabled > span:focus,
.light-pagination > .disabled > a,
.light-pagination > .disabled > a:hover,
.light-pagination > .disabled > a:focus {
    color: #999999;
    background-color: #ffffff;
    border-color: #dddddd;
    cursor: not-allowed;
}
.light-pagination-lg > li > a,
.light-pagination-lg > li > span {
    padding: 10px 16px;
    font-size: 18px;
}
.light-pagination-sm > li > a,
.light-pagination-sm > li > span {
    padding: 5px 10px;
    font-size: 12px;
}



ul.sort-list {
    list-style: none;
}
.sort-list {
    padding: 10px;
    overflow: hidden;
    clear: both;
}

.sort-list-item {
    float: left;
    padding: 0px 15px;
    margin-right: 10px;
    border-right: 1px solid #E1E1E1;
}

.sort-list-item:last-child {
    margin-right: 0px;
    border-right: none;
}


