html, body {
    height: 100%;
}
body{
    font-family: "PT Sans", Verdana, serif;
    background: url('/img/crossword.png') top left repeat;
}

.col {
    position: relative;
    min-height: 1px;
    padding: 0px 15px;
    box-sizing: border-box;
}

@media (max-width: 767px){
.navbar-header {
    float: right;
}
}

.main-wrapper{
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}


#main-container > .row {
    margin-left: 0px;
    margin-right: 0px;
}
.footer {
    width: 100%;
    height: 60px;
}

a {
    color: #555;
}

a:hover, a:active, a:focus {
    color: #AE0C08;
}

.navbar-nav .divider {
    overflow: hidden;
    background-color: #E1E1E1;
}

@media (min-width: 768px){
    .navbar-nav .divider {
        width: 1px;
        margin: 9px;
    }
}

@media (max-width: 767px){
    .navbar-nav .divider {
        height: 1px;
        margin: 9px;
        padding: 0px 15px;
    }
}




.inline-visible-xs,
.inline-visible-sm,
.inline-visible-md,
.inline-visible-lg {
    display: none !important;
}
@media (max-width: 767px) {
    .inline-visible-xs {
        display: inline-block !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .inline-visible-sm {
        display: inline-block !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .inline-visible-md {
        display: inline-block !important;
    }
}
@media (min-width: 1200px) {
    .inline-visible-lg {
        display: inline-block !important;
    }
}


