.order {
    margin: 10px 0px;
    padding: 15px;
    background: #FFF;
    border: 1px solid #EAEAEA;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(128, 128, 128, 0.1);
}
.order-entry {
    margin: 10px 0 15px;
    clear: both;
    overflow: hidden;
}
.order-label {
    display: block;
    float: left;
    width: 120px;
    text-align: right;
    font-style: italic;
    font-weight: 500;
    margin-right: 10px;
}

.order-text {
    margin-left: 130px;
    border-bottom: 1px dashed #AAA;
    font-style: italic;
}