.payment-list .list-group-item:hover,
.payment-list .list-group-item:focus {
    text-decoration: none;
    background-color: #F5F5F5;
    cursor: pointer;
}

.payment-list .list-group-item-active{
    color: #8A6D3B;
    background-color: #FCF8E3;
}

.payment-list .list-group-item-active:hover{
    color: #8A6D3B!important;
    background-color: #FCF8E3!important;
}