.product-snippet {
    margin: 0px 5px 15px;
    padding:10px;
    border-radius: 2px;
    background: #FFF;
    border: 1px solid #EAEAEA;
    box-shadow: 0px 2px 2px rgba(128, 128, 128, 0.1);
}


.product-snippet-thumbnail {
    margin-right: 10px;
    float:left;
}
.product-snippet-thumbnail img {
    border: 3px solid #ECECEC;
    box-shadow: 0px 0px 0px 1px rgba(190, 190, 190, 0.9)
}

.product-snippet-body-title {
    font-family: "Oranienbaum", Verdana, serif;
    font-size: 20px;
    font-weight: 500;
    color: #504030;
    cursor: pointer;
}
.product-snippet-body-title a {
    color: #504030;
}


.product-snippet-body-desc {
    color: #656060;
    height: 60px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 15px;
}

.product-snippet-body-price {
    font-family: "Oranienbaum", Verdana, serif;
    font-size: 20px;
    font-weight: 500;
    color: #ae0c08;
}

.product-snippet-sm .product-snippet-thumbnail{
    width:110px;
}

.product-snippet-sm .product-snippet-thumbnail img {
    width:108px;
}

.product-snippet-sm .product-snippet-body{
    margin-left: 120px;
}


.product-snippet-md .product-snippet-thumbnail{
    width:160px;
}

.product-snippet-md .product-snippet-thumbnail img {
    width:158px;
}

.product-snippet-md .product-snippet-body{
    margin-left: 170px;
}


.product-snippet-promo .product-snippet-thumbnail{
    display:block;
    float:none;
    width:110px;
    margin:auto;

}

.product-snippet-promo .product-snippet-thumbnail img {
    width:108px;
}

.product-snippet-promo .product-snippet-body{
    margin-left: 0px;
}




.product-snippet .btn-cart {
    margin-right: -15px;
}




.product-title {
    font-family: "Oranienbaum", Verdana, serif;
    color: #504030;
    margin-top: 0px;
}

.product-price {
    vertical-align: middle;
    font-family: "Oranienbaum", Verdana, serif;
    font-weight: 500;
    line-height: 1.1;
    font-size: 2em;
    color: #905030;
}


.image-slider-thumbnail-selected {
    opacity: 0.5;
}

.image-slider-view-wrapper{
    min-height: 250px;
}
