<div>
    <div class="js-image-upload-container" data-name="<?= $field->getName() ?>">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-default js-image-upload-btn">Загрузить</button>
            </div>
            <div class="col-md-4">
                <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-success js-image-upload-progressbar" role="progressbar" aria-valuenow="0"
                         aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                    </div>
                </div>
            </div>
        </div>
        <div class="image-uploader-image-list row js-image-upload-images-list">
            <?php foreach( $field->getSelected() as $image): ?>
                <input type="hidden" class="js-image-upload-existed-image"
                       data-id="<?= $image['id'] ?>"
                       data-hash="<?= $image['hash'] ?>"
                       data-title="<?= $image['title'] ?>"
                       data-description="<?= $image['description'] ?>"
                       data-url="<?= $image['url'] ?>"
                       data-is_main="<?= $image['is_main'] ? 1 : 0 ?>"
                    />
            <?php endforeach ?>
        </div>
    </div>
</div>