<?php
    /** @var \Justashop\Components\BreadCrumbs $breadCrumbs */
?>
<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><?= !empty( $metaTitle ) ? $_metaTitle : 'ControlPanel' ?></title>
    <meta name="description" content="noindex,nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/vendor/bootstrap/bootstrap.min.css">
    <style>
        body {
            padding-top: 50px;
            padding-bottom: 20px;
        }

    </style>
    <script src="/js/vendor/modernizr-2.6.2.min.js"></script>
    <script src="/js/vendor/respond.min.js"></script>
    <meta name="robots" content="disallow all">
</head>
<body>
<!--[if lt IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="<?= $this->url->get(['for' => 'backend.mainPage']) ?>">Justashop</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="js-main-menu">
            <?php if (!empty($user)): ?>
            <ul class="nav navbar-nav">
                <li><a href="<?= $this->url->get(['for' => 'backend.indexPage', 'controller' => 'categories']) ?>"><?= $t->_('controlPanel.menu', 'categories') ?></a></li>
                <li><a href="<?= $this->url->get(['for' => 'backend.indexPage', 'controller' => 'products']) ?>"><?= $t->_('controlPanel.menu', 'products') ?></a></li>
                <li><a href="<?= $this->url->get(['for' => 'backend.indexPage', 'controller' => 'users']) ?>"><?= $t->_('controlPanel.menu', 'users') ?></a></li>
                <li><a href="<?= $this->url->get(['for' => 'backend.indexPage', 'controller' => 'orders']) ?>"><?= $t->_('controlPanel.menu', 'orders') ?></a></li>
                <li><a href="<?= $this->url->get(['for' => 'backend.indexPage', 'controller' => 'pages']) ?>"><?= $t->_('controlPanel.menu', 'pages') ?></a></li>
                <li><a href="<?= $this->url->get(['for' => 'backend.indexPage', 'controller' => 'parameters']) ?>"><?= $t->_('controlPanel.menu', 'parameters') ?></a></li>
                <li class="visible-xs">
                    <a href="<?= $this->url->get(['for' => 'backend.auth', 'action' => 'logout']) ?>"><?= $t->_('common', 'logout') ?> <i class="glyphicon glyphicon-log-out"></i></a>
                </li>
            </ul>
            <?php endif ?>
            <div class="pull-right hidden-xs">
                <a type="button" class="btn btn-default navbar-btn" href="<?= $this->url->get(['for' => 'backend.auth', 'action' => 'logout']) ?>">
                    <i class="glyphicon glyphicon-log-out"></i> <span class="hidden-xs"><?= $t->_('common', 'logout') ?></span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 20px">
    <?php if( !empty( $breadCrumbs ) && $breadCrumbs->valid() ): ?>
    <div class="row">
        <ol class="breadcrumb">
            <?php foreach( $breadCrumbs as $crumb ): ?>
                <?= $crumb->render('<li><a href=":link:" title=":title:">:title:</a></li>', '<li class="active">:title:</li>'); ?>
            <?php endforeach ?>
        </ol>
    </div>
    <?php endif ?>
    <div class="row">
        <?= $this->getContent() ?>
    </div>

    <footer>
    </footer>
</div>
<!-- /container -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.11.0.min.js"><\/script>')</script>
<script src="/js/vendor/bootstrap/bootstrap.min.js"></script>
<script src="/js/vendor/tinymce/js/tinymce/tinymce.min.js"></script>
<script src="/js/core/src/core.js"></script>
<script src="/js/core/src/dom.js"></script>
<script src="/js/core/src/events.js"></script>
<script src="/js/core/src/sources.js"></script>
<script src="/js/core/src/queues.js"></script>
<script src="/js/core/src/l10n.js"></script>
<script src="/js/core/src/utils/validate.js"></script>

<script src="/js/l10n/ru_RU.js"></script>
<script type="text/javascript">
    core.l10n.setLang('ru_RU');
</script>

<script src="/js/vendor/moxie/moxie.js"></script>
<script>mOxie.Env.swf_url = '/js/vendor/moxie/Moxie.min.swf';</script>


<script src="/js/components/imageUploader.js"></script>

<script type="text/html" id="js-image-upload-image-template">
    <div class="js-image-upload-image col-md-3 col-sm-6 col-lg-3" data-id=":id:">
        <div class="pull-right"><span class=" close js-image-upload-delete">&times</span></div>
        <div>
            <img src=":url:" class="img-thumbnail"/>
        </div>
        <div class="form-vertical well well-sm">
            <input  name=":fieldName:[:index:][hash]" value=":hash:" type="hidden"/>
            <input  name=":fieldName:[:index:][id]" value=":id:" type="hidden"/>
            <input  name=":fieldName:[:index:][url]" value=":url:" type="hidden"/>
            <div class="form-group">
                <label class="control-label">:label-title:</label>
                    <input class="form-control input-sm" name=":fieldName:[:index:][title]" value=":title:" type="text"/>
            </div>
            <div class="form-group">
                <label class="control-label">:label-description:</label>
                    <input class="form-control input-sm" name=":fieldName:[:index:][description]" value=":description:" type="text"/>
            </div>
            <div class="form-group">
                <span class="input-group-addon">:label-is_main:</span>
                <span class="input-group-addon"><input class="" name=":fieldName:_main" :is_main: value=":id:" type="radio"/></span>
            </div>
        </div>
    </div>
</script>

<script type="text/javascript">

    var params = {
        selectors:{
            container:    '.js-image-upload-container',
            uploadButton: '.js-image-upload-btn',
            inputElement: '.js-image-upload-input',
            imagesList:   '.js-image-upload-images-list',
            image:        '.js-image-upload-image',
            progressBar:  '.js-image-upload-progressbar',
            existedImage: '.js-image-upload-existed-image',
            removeBtn:    '.js-image-upload-delete'
        },
        urls:{
            upload:'/control-panel/int/upload-image/default'
        },
        templates:{
            imageRow: document.getElementById('js-image-upload-image-template').innerHTML
        }
    };

    var uploaders = core.components.ImageUploader.Factory($.makeArray( $('.js-image-upload-container') ), params );


    tinymce.init({
        selector: "textarea.editable",
        theme:    "modern",
        plugins: [
            "advlist autolink lists link image charmap print preview hr anchor pagebreak",
            "searchreplace wordcount visualblocks visualchars code fullscreen",
            "insertdatetime media nonbreaking save table contextmenu directionality",
            "emoticons template paste textcolor colorpicker textpattern"
        ],
        language: 'ru',
        content_css : ["/css/vendor/bootstrap/bootstrap.min.css"]

    });
</script>

</body>
</html>
