<?php $firstImage = !empty($images) ? reset($images) : null;
//todo: social sharing
//todo: meta-props
?>
<div class="col-md-7">
    <?php if($firstImage): ?>
        <div class="js-image-slider">
            <div class="thumbnail image-slider-view-wrapper">
                <img class="js-image-slider-view" src="<?= $firstImage->getUrl('m') ?>"/>
            </div>
            <div class="js-image-slider-thumbnails">
                <div class="js-image-slider-tape">
                    <?php foreach($images as $i => $image): ?>
                        <div class="thumbnail" style="display:inline-block">
                            <img class="js-image-slider-thumbnail <?= $i == 0 ? 'image-slider-thumbnail-selected' : '' ?>" data-big="<?= $image->getUrl('m') ?>" src="<?= $image->getUrl('xs') ?>"/>
                        </div>
                    <?php endforeach ?>
                </div>
            </div>
        </div>
    <?php endif ?>
</div>
<div class="col-md-5">
    <p><span class="product-price">Цена: <?= \Justashop\Helpers\Text::money_format($product->price) ?> руб. </span>
        <a class="btn btn-cart btn-cart-round-all js-cart-showCountModal-btn"
           href="#"
           data-id="<?= $product->id ?>"
           data-thumbnail="<?= $product->getImageUrl('xs') ?>"
           data-price="<?= $product->price ?>"
           data-title="<?= $product->title ?>"
            ><i class="glyphicon glyphicon-shopping-cart"></i>&nbsp;&nbsp;Купить</a>
    </p>

    <h1 class="product-title"><?= $product->title ?></h1>
    <?= $product->description ?>
</div>