<?php
$this->assets->collection('js-footer-components');
$this->assets->collection('js-footer-pages');

$this->assets->collection('js-footer-components')
    ->addJs('js/components/account.js')
    ->addJs('js/components/cart.js')
    ->addJs('js/components/flashMessages.js')
    ->addJs('js/components/formValidation.js')
    ->addJs('js/components/imageSlider.js')
    ->addJs('js/components/ui.js')

    ->setTargetPath(DOC_ROOT . '/js/components.min.js')
    ->setTargetUri('js/components.min.js')

    ->addFilter(new Phalcon\Assets\Filters\Jsmin());

$this->assets->collection('js-footer-pages')
    ->addJs('js/pages/main.js');


$this->assets->collection('css-header-main')
    ->addCss('css/main.css')
    ->addCss('css/common.css')
    ->addCss('css/cart.css')
    ->addCss('css/categories.css')
    ->addCss('css/product.css')
    ->addCss('css/order.css')
    ->addCss('css/payment.css')

    ->setTargetPath(DOC_ROOT . '/css/main.min.css')
    ->setTargetUri('css/main.min.css')

    ->addFilter(new Phalcon\Assets\Filters\Cssmin());
?>
<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><?= !empty( $_metaTitle ) ? $_metaTitle : 'Shop' ?></title>
    <meta name="description" content="<?= !empty( $_metaDescription ) ? $_metaDescription : '' ?>">
    <meta name="keywords"    content="<?= !empty( $_metaKeywords )    ? $_metaKeywords    : '' ?>">
    <?php if(!empty($_metaRobots)): ?>
        <meta name="robots" content="<?= $_metaRobots ?>">
    <?php endif ?>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/vendor/bootstrap/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Oranienbaum&subset=latin,cyrillic' rel='stylesheet'
          type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <?= $this->assets->outputCss('css-header-main') ?>

    <script src="/js/vendor/modernizr-2.6.2.min.js"></script>
    <script src="/js/vendor/respond.min.js"></script>
    <script src="/js/vendor/promise-1.0.0.min.js"></script>
</head>
<body>
<!--[if lt IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="<?= $this->url->getBaseUri() ?>"><?= $t->_('common', 'site-name') ?></a>
        </div>
        <div class="navbar-right">
            <?php if( empty( $_cartDisabled ) ): ?>
                <div id="js-cart-controls" class="btn-group">
                </div>
            <?php endif ?>
            <button type="button" class="btn btn-default navbar-btn inline-visible-xs" data-toggle="collapse" data-target=".navbar-collapse">
                <i class="glyphicon glyphicon-list"></i>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="js-main-menu">
                <ul class="nav navbar-nav">
                    <li><a href="/contacts">Контакты</a></li>
                    <li><a href="/about">О нас</a></li>
                </ul>
                    <?php if(!empty($_categories)): ?>
                <ul class="nav navbar-nav visible-xs">
                        <li class="divider"></li>
                        <?php foreach($_categories as $category): ?>
                            <li class="<?= $category->id == $_currentCategoryId ? 'active' : '' ?>">
                               <a href="<?= $category->getUrl() ?>">
                                    <?= $category->id == $_currentCategoryId ? '<i class="glyphicon glyphicon-chevron-right"></i>' : '' ?>
                                    <?= $category->title ?>
                                </a>
                            </li>
                        <?php endforeach ?>
                </ul>
                    <?php endif ?>
        </div>
    </div>
</div>
<div class="main-wrapper">
    <div class="container" id="main-container">
        <div class="row">
            <?php if(!empty($_categories)): ?>
                <div class="col-md-3 col-sm-5 hidden-xs">
                    <div class="categories-list">
                        <?php foreach($_categories as $category): ?>
                            <a class="categories-list-item <?= $category->id == $_currentCategoryId ? 'active' : '' ?>"
                               href="<?= $category->getUrl() ?>">
                                <?= $category->id == $_currentCategoryId ? '<i class="glyphicon glyphicon-chevron-right"></i>' : '' ?>
                                <?= $category->title ?>
                            </a>
                        <?php endforeach ?>
                    </div>
                </div>
                <div class="col-md-9 col-sm-7">
                    <?= $this->getContent() ?>
                </div>
            <?php else: ?>
                <div class="col">
                    <?= $this->getContent() ?>
                </div>
            <?php endif ?>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <hr/>
        <p>&copy; Company 2014</p>
    </div>
</footer>

<div class="flash-message-container" id="js-message-container"></div>
<?php $this->partial('partial/modals') ?>
<!-- /container -->
<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> -->
<script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.11.0.min.js"><\/script>')</script>
<script src="/js/vendor/bootstrap/bootstrap.min.js"></script>
<script src="/js/vendor/es5-shim.min.js"></script>


<script src="/js/core/src/core.js"></script>
<script src="/js/core/src/dom.js"></script>
<script src="/js/core/src/events.js"></script>
<script src="/js/core/src/sources.js"></script>
<script src="/js/core/src/queues.js"></script>
<script src="/js/core/src/utils/validate.js"></script>
<script src="/js/core/src/utils/format.js"></script>
<script src="/js/core/src/l10n.js"></script>
<script src="/js/l10n/ru_RU.js"></script>
<script type="text/javascript">
    core.l10n.setLang('ru_RU');
</script>
<?= $this->assets->outputJs('js-footer-components') ?>
<?= $this->assets->outputJs('js-footer-pages') ?>
</body>
</html>
