
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><?= $t->_('common', 'authorization') ?></h4>
                </div>
                <div class="modal-body">
                    <?php if( !empty( $error ) ): ?>
                        <p class="alert alert-danger"><?= $error ?></p>
                    <?php endif ?>
                    <form method="post">
                        <fieldset class="form-group">
                            <label for="login">Login</label>
                            <input id="login" type="text" name="login" class="form-control" required="required" />
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="password">Password</label>
                            <input id="password" type="password" name="password" class="form-control" required="required" />
                        </fieldset>
                        <button type="submit" class="btn btn-default"><?= $t->_('common', 'login') ?></button>
                    </form>
                </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->