<div class="row">
    <div class="col-md-6">
        <?php foreach( $orders as $order ): ?>
            <div>
                <a href="<?= $order->getControlPanelUrl() ?>"><?= $order->user_name ?> (<?= $order->amount ?>)</a>
            </div>
        <?php endforeach ?>
    </div>


    <div class="col-md-6">
        <?php foreach( $products as $product ): ?>
            <div>
                <a href="<?= $product->getControlPanelUrl() ?>"><?= $product->title ?> (<?= $product->price ?>)</a>
            </div>
        <?php endforeach ?>
    </div>
</div>