<?php
/**
 * @var \Justashop\Model\Product[] $popularProducts
 * @var \Justashop\Model\Product[] $newProducts
 */
?>

<?php if(count($popularProducts)): ?>
    <div class="row">
        <p class="s-header">Популярные:</p>
        <?php foreach($popularProducts as $product): ?>
            <?php $this->partial('partial/snippets/product', ['product' => $product, 'class' => 'col-md-3 product-snippet-promo']) ?>
        <?php endforeach ?>
    </div>
<?php endif ?>

<?php if(count($newProducts)): ?>
    <div class="row">
        <p class="s-header" style="margin-top: 0px;">Новые:</p>
        <?php foreach($newProducts as $product): ?>
            <?php $this->partial('partial/snippets/product', ['product' => $product, 'class' => 'col-md-3 product-snippet-promo']) ?>
        <?php endforeach ?>
    </div>
<?php endif ?>
