<?php
/**
 * @var Justashop\Components\Former\FormRenderer $form
 */

    $this->assets->collection('js-footer-pages')->addJs('js/pages/checkout.js');
?>
<p class="">
    <a class="" href="<?= $referrer ?>"><i>&ShortLeftArrow;</i> вернуться к покупкам</a>
</p>
<div class="col-md-6">
    <h3>Оформление заказа:</h3>
    <form method="post" id="checkout-form">
        <?= $form->renderFields() ?>
        <button type="submit" class="center-block btn btn-success js-submit-btn" width="100px">Оформить</button>
    </form>
</div>
<div class="col-md-6">
        <div class="checkout-cart">
            <h3 class="checkout-cart-title">Товары:</h3>
            <table class="table checkout-cart-table">
                <tr>
                    <th class="checkout-cart-table-thumbnail hidden-xs">#</th>
                    <th>наименование</th>
                    <th>Кол-во</th>
                    <th>Сумма</th>
                    <th></th>
                </tr>
                <?php $sum = 0; ?>
                <?php foreach( $cart as $item ) : ?>
                    <?php $sum += $item->getTotalPrice(); ?>
                    <tr class="js-cart-item-row">
                        <td class="checkout-cart-table-thumbnail hidden-xs"><img src="<?= $item->getThumbnail() ?>" /></td>
                        <td class="checkout-cart-table-title"><a target="_blank" href="<?= $item->getUrl() ?>"><?= $item->getTitle() ?></a></td>
                        <td class="checkout-cart-table-count"><?= $item->getQuantity() ?></td>
                        <td class="checkout-cart-table-price">
                            <span class="js-cart-item-price" data-value="<?=$item->getTotalPrice() ?>">
                                <?= \Justashop\Helpers\Text::money_format($item->getTotalPrice()) ?>
                            </span>
                            <?= $t->_('common', 'currency-short'); ?>
                        </td>
                        <td class="checkout-cart-table-action"><a class="close js-cart-item-remove">&times;</a></td>
                    </tr>
                <?php endforeach ?>
                <tr class="hidden js-cart-delivery-row">
                    <td><i class="glyphicon glyphicon-transfer hidden-xs"></i></td>
                    <td class="checkout-cart-table-delivery" colspan="2">Доставка</td>
                    <td class="checkout-cart-table-price"><span class="js-cart-delivery-price" data-value="0">0</span> <?= $t->_('common', 'currency-short'); ?></td>
                    <td class="checkout-cart-table-action"></td>
                </tr>
                <tr style="background: #EEEDEA">
                    <td class="hidden-xs"></td>
                    <td colspan="2">Итого</td>
                    <td class="checkout-cart-table-price"><span class="js-cart-total-sum checkout-cart-table-total-sum">
                            <?= \Justashop\Helpers\Text::money_format($sum) ?></span> <?= $t->_('common', 'currency-short'); ?>
                    </td>
                    <td class="checkout-cart-table-action"></td>
                </tr>
            </table>
        </div>
</div>

