<?php $sum = 0; ?>
<div class="col-md-2"></div>
<div class="col-md-8">
    <p class="">
        <a class="" href="/"><i>&ShortLeftArrow;</i> вернуться к покупкам</a>
    </p>
    <h3>Корзина:</h3>
    <form method="POST" action="">
    <table class="table cart-table">
        <tr>
            <th>#</th>
            <th>Наименование</th>
            <th>Кол-во</th>
            <th>Цена</th>
            <th>Сумма</th>
            <th></th>
        </tr>
        <?php foreach($cart as $item): ?>
            <?php $sum += $item->getTotalPrice(); ?>
            <tr>
                <td class="cart-checkout-thumbnail"><img class="cart-checkout-thumbnail" src="<?= $item->getThumbnail() ?>"/></td>
                <td class="cart-checkout-title"><a href="<?= $item->getUrl() ?>"><?= $item->getTitle() ?></a></td>
                <td class="cart-checkout-count">
                    <input type="hidden" value="<?= $item->getId() ?>" name="cart[<?= $item->getId() ?>][id]" />
                    <input type="text" value="<?= $item->getQuantity() ?>" name="cart[<?= $item->getId() ?>][count]"  class="cart-checkout-count" />
                </td>
                <td class="cart-checkout-price"><?= \Justashop\Helpers\Text::money_format($item->getPrice()) ?> руб.</td>
                <td class="cart-checkout-price"><?= \Justashop\Helpers\Text::money_format($item->getTotalPrice()) ?> руб.</td>
                <td class="cart-checkout-count"><a class="close">&times;</a></td>
            </tr>
        <?php endforeach ?><tr>
            <td class="cart-checkout-thumbnail"></td>
            <td class="cart-checkout-title"></td>
            <td class="cart-checkout-count"></td>
            <td class="cart-checkout-price">Итого:</td>
            <td class="cart-checkout-price"><?= \Justashop\Helpers\Text::money_format($sum) ?> руб.</td>
            <td class="cart-checkout-count"></td>
        </tr>
    </table>
    <div  class="center-block" style="width:100px" >
        <button type="submit" class="btn btn-warning">Оформить</button>
    </div>
    </form>
</div>