<div class="product-snippet <?= !empty($class) ? $class : '' ?>">
    <div class="clearfix">
        <div class="product-snippet-thumbnail">
            <a href="<?= $product->getUrl() ?>"><img src="<?= $product->getImageUrl('xs') ?>" class="img-circle"/></a>
        </div>
        <div class="product-snippet-body">
            <h4 class="product-snippet-body-title"><a
                    href="<?= $product->getUrl() ?>"><?= $product->title ?></a></h4>

            <div class="product-snippet-body-desc"><?= $product->description ?></div>
            <p>Цена: <span class="product-snippet-body-price"><?= \Justashop\Helpers\Text::money_format($product->price) ?> руб.</span></p>

            <div class="pull-right">
                <a class="btn btn-cart btn-cart-round-left js-cart-showCountModal-btn"
                   href="#"
                   data-id="<?= $product->id ?>"
                   data-thumbnail="<?= $product->getImageUrl('xs') ?>"
                   data-price="<?= $product->price ?>"
                   data-title="<?= $product->title ?>"
                    ><i class="glyphicon glyphicon-shopping-cart"></i>&nbsp;&nbsp;Купить</a>
            </div>
        </div>
    </div>
</div>