<?php
    $iconClasses = [
        'asc'  => 'glyphicon glyphicon-sort-by-attributes',
        'desc' => 'glyphicon glyphicon-sort-by-attributes-alt',
        'none' => 'glyphicon glyphicon-sort',
    ];

$url  = \Justashop\Helpers\Url::factory( $category->getUrl(), ['sort[field]' => $sort['field'], 'sort[order]' => $sort['order']]);

$pagerUrl = $url->compile();

$url->setQueryParam('page', $page->current);
?>


<div class="col-md-12 col-sm-12">
    <p><?= $category->description ?></p>
</div>
<?php if( count( $page->items ) ): ?>
<div>
    <ul class="sort-list">
        <?php foreach( $sortFields as $field => $data ): ?>
        <li class="sort-list-item">
            <a href="<?= $url->setQueryParam('sort[field]', $field)->setQueryParam('sort[order]', $data['nextOrder'] )->compile() ?>" >
                <?= $data['title'] ?>&nbsp;&nbsp;
                <i class="<?= $iconClasses[$data['order']] ?>"></i>
            </a>
        </li>
        <?php endforeach ?>
    </ul>
</div>
<?php foreach( $page->items as $product ):?>
    <?php $this->partial('partial/snippets/product', ['product' => $product, 'class' => 'col-md-5 product-snippet-sm']) ?>
<?php endforeach ?>

<div class="row clearfix">
<?php $this->partial('partial/pagination', ['page' => $page, 'url' => $pagerUrl]) ?>
</div>

<? else : ?>
    <p class="text-center text-muted">Категория пуста :(</p>
<?php endif ?>