<?php
/** @var \Justashop\Model\Order $order */
/** @var \Justashop\Components\Cart $cart */
?>
<style>
    .cart-table {
        margin-top: 35px; width: 80%; border-collapse: collapse;border-spacing: 0px; box-sizing: border-box;
    }

    .cart-table td {
        vertical-align: middle; border-left: 1px solid #DDD; border-right: 1px solid #DDD; padding: 8px;
    }

    .cart-table td:first-child {
        border-left: none;
    }
    .cart-table td:last-child {
        border-right: none;
    }

    .cart-table tr {
        border-bottom: 1px solid #DDD;
    }

    .cart-table-thumbnail {
        width: 50px;
    }
    .cart-table-thumbnail > img {
        width: 50px;
        height: 50px;
    }

    .cart-table-count {
        width: 50px;
        text-align: center;
    }
    .cart-table-price {
        width: 100px;
        text-align: right;
    }
</style>
<p>Добрый день!</p>
<p>Вы оформили заказ на следующие товары:</p>
<table style="margin: 15px 10px 10px; width: 80%; border-collapse: collapse;border-spacing: 0px; box-sizing: border-box;">
    <thead>
    <tr style="border-bottom: 1px solid #DDD;">
        <td style="vertical-align: middle; border-right: 1px solid #DDD; padding: 8px; font-weight: bold;">#</td>
        <td style="vertical-align: middle; border-right: 1px solid #DDD; border-left: 1px solid #DDD; padding: 8px; font-weight: bold;">Наименование</td>
        <td style="vertical-align: middle; border-right: 1px solid #DDD; border-left: 1px solid #DDD; padding: 8px; font-weight: bold;">Кол-во</td>
        <td style="vertical-align: middle; border-left: 1px solid #DDD; padding: 8px; font-weight: bold;">Цена</td>
    </tr>
    </thead>
    <tbody>
    <?php foreach( $cart as $item ): ?>
        <tr style="border-bottom: 1px solid #DDD;">
            <td style="vertical-align: middle; border-right: 1px solid #DDD; padding: 8px; width:50px">
                <img style="width:50px; height:50px;" src="<?= $item->getThumbnail() ?>" alt="<?= $item->getTitle() ?>"/>
            </td>
            <td  style="vertical-align: middle; border-right: 1px solid #DDD; border-left: 1px solid #DDD; padding: 8px;">
                <?= $item->getTitle() ?>
            </td>
            <td style="vertical-align: middle; border-right: 1px solid #DDD; border-left: 1px solid #DDD; padding: 8px; width: 50px">
                <?= $item->getQuantity() ?>
            </td>
            <td style="vertical-align: middle; border-left: 1px solid #DDD; padding: 8px; width: 100px; text-align: right;">
                <?= \Justashop\Helpers\Text::money_format($item->getPrice()) ?> руб.
            </td>
        </tr>
    <?php endforeach ?>
    <tr style="border-bottom: 1px solid #DDD;">
        <td colspan="3"  style="vertical-align: middle; border-right: 1px solid #DDD; padding: 8px; text-align: right">
            На сумму
        </td>
        <td style="vertical-align: middle; border-left: 1px solid #DDD; padding: 8px; width: 100px; text-align: right;">
            <b><?= \Justashop\Helpers\Text::money_format($order->amount) ?> руб.</b>
        </td>
    </tr>
    </tbody>
</table>
<p>Ваш заказ находится в обработке. В ближайшее время наши менеджеры свяжутся с вами по оставленному вами контактному телефону для уточнения деталей заказа.<p>
<p>Вы можете просматривать статус вашего заказа по следующей ссылке: <a href="<?= $order->getUrl() ?>"><?= $order->getUrl() ?></a></p>

<p>Спасибо, что воспользовались услугами нашего магазина!</p>