<form action="<?= $url ?>" method="post" id="payment-form">
    <?php foreach( $data as $name => $value ): ?>
        <input type="hidden" name="<?= $name ?>" value="<?= $value ?>" />
    <?php endforeach ?>

    <noscript>
        <div class="center-block" style="width: 100px">
            <button class="btn btn-cart btn-cart-round-all" type="submit">Перейти к оплате</button>
        </div>
    </noscript>
</form>

<script type="text/javascript">
    document.getElementById('payment-form').submit();
</script>