<?php
/**
 * @var \Justashop\Model\Order           $order
 * @var \Justashop\Model\Order\Product[] $orderProducts
 * @var \Justashop\Model\Product[]       $products
 */

$needToPay = in_array($order->status, [\Justashop\Model\Order::STATUS_CREATED, \Justashop\Model\Order::STATUS_NOT_PAID]);

$date = DateTime::createFromFormat('Y-m-d H:i:s', $order->createdAt);
$date->setTimestamp( $date->getTimestamp() + 48 * 60 * 60 );
$now  = new DateTime();
$interval = $date->diff($now);

$hours = $interval->h;
if( $interval->d ){
    $hours += $interval->days * 24;
}

$this->assets->collection('js-footer-pages')->addJs('js/pages/order.js');
?>
<div class="col-md-3"></div>
<div class="order col-md-6">
    <p class="text-center"><b>Заказ № <?= $order->id ?></b></p>
    <?php if($needToPay): ?>
        <p class="alert alert-danger"><?= str_replace([':time:', ':hours:'], [$hours, $t->declension('hour-d', $interval->h)], $t->_('patterns.order', 'timeLimitWarning') ) ?></p>
    <?php endif ?>
    <div class="order-entry">
        <div class="order-label">Статус:</div>
        <div class="order-text"><?= $t->_('objects.orders.statuses', 'status' . $order->status) ?> </div>
    </div>

    <div class="order-entry">
        <div class="order-label">ФИО:</div>
        <div class="order-text"><?= $order->user_name ?></div>
    </div>
    <div class="order-entry">
        <div class="order-label">Телефон:</div>
        <div class="order-text"><?= $order->user_phone ?></div>
    </div>
    <div class="order-entry">
        <div class="order-label">Email:</div>
        <div class="order-text"><?= $order->user_email ?></div>
    </div>
    <div class="order-entry">
        <div class="order-label">Адрес доставки:</div class="order-text">
        <div class="order-text"><?= $order->address->address ?></div>
    </div>
    <div class="order-entry">
        <div class="order-label">Почтовый Индекс:</div>
        <div class="order-text"><?= $order->address->zip_code ?></div>
    </div>
    <div class="order-entry">
        <div class="order-label">Способ доставки:</div>
        <div class="order-text"><?= $order->deliveryType->title ?></div>
    </div>
    <?php if( $order->payment_type_id ): ?>
        <div class="order-entry">
            <div class="order-label">Способ оплаты:</div>
            <div class="order-text"><?= $order->paymentType->title ?></div>
        </div>
    <?php endif ?>
    <div class="order-entry">
        <div class="order-label">Сумма к оплате:</div>
        <div class="order-text"><?= \Justashop\Helpers\Text::money_format($order->getFinalAmount()) ?> руб.</div>
    </div>
    <div>
        <table class="table checkout-cart-table">
            <tr>
                <th class="checkout-cart-table-thumbnail">#</th>
                <th>наименование</th>
                <th>Кол-во</th>
                <th>Сумма</th>
            </tr>
            <?php foreach($products as $product):?>
                <tr>
                    <td class="checkout-cart-table-thumbnail"><img src="<?= $product->getImageUrl('s') ?>"/></td>
                    <td class="checkout-cart-table-title"><?= $product->title ?></td>
                    <td class="checkout-cart-table-count"><?= $orderProducts[$product->id]->quantity ?></td>
                    <td class="checkout-cart-table-price">
                        <?= \Justashop\Helpers\Text::money_format($orderProducts[$product->id]->price) ?>
                        <?= $t->_('common', 'currency-short'); ?></td>
                </tr>
            <?php endforeach ?>
        </table>
    </div>

    <?php if($needToPay): ?>
        <div class="center-block" style="width:120px;">
            <div class="btn-well">
            <a id="js-pay-btn" class="btn btn-warning btn-lg">Оплатить</a>
            </div>
        </div>
    <?php endif ?>
</div>

<div id="js-order-payment-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Выберите способ оплаты</h4>
            </div>
            <div class="modal-body">
                <form action="<?= $order->getUrl('pay') ?>" method="post">
                    <input type="hidden" id="js-payment-adapter" name="typeId" />
                    <div class="list-group payment-list ">
                        <?php foreach($paymentTypes as $type): ?>
                            <div class="list-group-item js-payment-option"
                                 data-show-pay-text="<?= $type->adapter != \Justashop\Model\Payment\Type::ADAPTER_TYPE_CACHE ? '1' : '' ?>"
                                 data-id="<?= $type->id ?>">
                                <p><?= $type->title ?></p>
                                <p class="text-muted"><?= $type->description ?></p>
                            </div>
                        <?php endforeach ?>
                    </div>
                    <div class="text-center">
                        <button type="submit" disabled="disabled" class="btn btn-warning" id="js-proceed-btn">Подтвердить</button>
                        <br/><span id="js-pay-text" style="opacity: 0" class="text-muted">и перейти к оплате</span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>